@model Customer_Management.Web.DTO.Customer.CustomerDTO

@{
    ViewData["Title"] = "Creación de Cliente";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Nombre</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Apellido</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Correo electrónico</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label">Compañía</label>
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.Companies"></select>
            </div>
            <div class="flex-row align-center justify-right col-gap-10 mt-10">
                <div>
                    <a class="btn btn-info" asp-action="Index">Volver</a>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
